* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container {
    width: 800px;
    height: 500px;
}

.title { 
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: 15px;
    text-shadow: 1px 1px 1px #737373; 
    color: blue;
    padding-bottom: 20px;    
}

#progress-health {
	background-color: #eee;
	width: 20rem;
	height: 2rem;
	margin-bottom: 0.5rem;
    border: 4px solid rgb(4, 61, 99);
    border-radius: 5px;
}

#progress-bar {
	background-color: #16d116;
	width: 100%;
	height: 100%;
	color: #fff;
	opacity: 1;
	transition: .5;
}
#progress-bar2 {
	background-color:  #fda541;
	width: 1%;
	height: 100%;
	color: #fff;
	opacity: 1;
	transition: .5;
}
#progress-bar3 {
	background-color: #f10a0a;
	width: 1%;
	height: 100%;
	color: #fff;
	opacity: 1;
	transition: .5;
}

#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px solid rgb(4, 61, 99);
    border-radius: 10px;
    background-image: url(../images/background.jpeg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 800px 500px;
}

#btncontainer {
    position: absolute;
    margin-top:700px;
    gap: 20px;
}

#startbutton{
    padding:20px;
    width: 390px;
    background-color: rgb(153, 186, 65);
    border-radius: 10px;
    margin: 10px;
    border: 4px solid rgb(4, 61, 99);
    color: rgb(4, 61, 99);;
    font-size: 2em;
}

#resetbutton{
    padding:20px;
    width: 390px;
    background-color: rgb(108, 186, 255);
    border-radius: 10px;
    margin: 10px;
    border: 4px solid rgb(4, 61, 99);
    color: rgb(4, 61, 99);;
    font-size: 2em;
}
