* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    width: 800px;
    height: 500px;
}

.title{
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: 15px;
    text-shadow: 1px 1px 1px #737373; 
    color: blue;
    padding-bottom: 20px;
    
}

#progress-health {
	background-color: #eee;
	width: 20rem;
	height: 2rem;
	margin-bottom: 0.5rem;
    border: 4px solid rgb(4, 61, 99);
    border-radius: 5px;
	box-shadow:
		-12px -12px 12px 0 rgba(255, 255, 255, 1),
		12px 12px 12px 0 rgba(0, 0, 0, .08);

}

#progress-bar {
	background-color: #16d116;
	width: 1%;
	height: 100%;
	color: #fff;
	opacity: 1;
	transition: .5;
}
#progress-bar2 {
	background-color:  #fda541;
	width: 1%;
	height: 100%;
	color: #fff;
	opacity: 1;
	transition: .5;
}
#progress-bar3 {
	background-color: #f10a0a;
	width: 1%;
	height: 100%;
	color: #fff;
	opacity: 1;
	transition: .5;
}

#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px solid rgb(4, 61, 99);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(100, 162, 243), rgb(118, 158, 185), rgb(180, 200, 247), rgb(216, 239, 247), rgb(3, 107, 29));
}

.game-over {
    width: 800px;
    height: 500px;
    border: 4px solid rgb(4, 61, 99);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(100, 162, 243), rgb(118, 158, 185), rgb(180, 200, 247), rgb(216, 239, 247), rgb(3, 107, 29));
}
